<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Guestbook Read Page</h1>
        <form th:action="@{/guestbook/modify}" th:method="post">

            <div class="form-group">
                <label for="">Gno</label>
                <input type="text" name="gno" class="form-control" readonly th:value="${dto.gno}">
                <input type="hidden" name="page" th:value="${requestDTO.page}">
            </div>

            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" class="form-control" th:value="${dto.title}">
            </div>

            <div class="form-group">
                <label for="">Content</label>
                <textarea name="content" class="form-control" rows="5">[[${dto.content}]]</textarea>
            </div>

            <div class="form-group">
                <label for="">Writer</label>
                <input type="text" name="writer" class="form-control" readonly th:value="${dto.writer}">
            </div>

            <div class="form-group">
                <label for="">RegDate</label>
                <input type="text" class="form-control" readonly
                    th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH🇲🇲ss')}">
            </div>

            <div class="form-group">
                <label for="">Moddate</label>
                <input type="text" class="form-control" readonly
                    th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH🇲🇲ss')}">
            </div>
        </form>
        <div class="form-group" style="margin-top: 10px;">
            <button type="button" id="btnModify" class="btn btn-primary">Modify</button>
            <button type="button" id="btnList" class="btn btn-danger">List</button>
            <button type="button" id="btnRemove" class="btn btn-info">Remove</button>
        </div>
        <script th:inlint="javascript">
            var actionForm = document.querySelector("form");
            document.querySelector('#btnModify');
            btnModify.onclick = function(){
                actionForm.setAttribute("action", /*@{/guestbook/modify}*/'modify');
                actionForm.setAttribute("method", "post");
                actionForm.submit();
            }
            const btnList = document.querySelector('#btnList');
            btnList.onclick = function(){
                location.href= /*[[@{/guestbook/list(page=${requestDTO.page})}]]*/'url'
            }

            const btnRemove = document.querySelector('#btnRemove');
            btnRemove.onclick = function(){
                actionForm.setAttribute("action", /*@{/guestbook/remove}*/'remove');
                actionForm.setAttribute("method", "post");
                actionForm.submit();
            }
        </script>
    </th:block>
</th:block>